* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}


/* -- Navbar -- */

header {
  background-color: #2e2e2e;
  display: flex;
  /* use flexbox for horizontal layout */
  justify-content: center;
  /* center the items */
  align-items: center;
  /* center the items vertically */
  justify-content: space-between;
  padding: 0 5%;
  /* pushes the items inwards left and right */
}

.logo {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

li,
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: white;
  /* gives the text this color */
  text-decoration: none;
  /* removes the underline */
}

.nav-links {
  list-style: none;
  /* remove bullet points */
}

.nav-links li {
  display: inline-block;
  /* puts the items in a line/row */
  margin: 0 20px;
  /* space between the items */
}

button {
  background-color: rgb(198, 82, 231);
  color: white;
  padding: 6px 18px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #fff;
}

/* --- Hero section -- */

.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(93, 93, 93, 0.3), rgba(93, 93, 93, 0.3)), url(./Images/2205_w037_n003_394b_p1_394.jpg);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./Images/jason-leung-M55JcA9wOG0-unsplash.jpg); */
  height: 50vh;
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  color: white;
}

.hero-heading {
  background-color: #282934;
  padding: 15px 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4rem;
  /* Text Shadow Property */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(198, 82, 231);
}


/* -- Page Title (Heading 2) starts here -- */

.heading {
  color: #252525;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  margin: 100px;
}

.highlighted-orange-text {
  color: #eaae14;
}

.highlighted-purple-text {
  color: #9841d6;
}


/* -- Location Map -- */
.location {
  border: 2px solid #9841d6;
  margin-left: 5%;
}


/* -- Form -- */



/* -- Footer -- */

#footer {
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 180px;
}

footer p {
  background-color: #252525;
  color: white;
  font-size: 1rem;
  text-align: center;
}


/* -- Media Queries -- */

@media(max-width: 320px) {

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .heading {
    font-size: 18px;
  }

}

/* Media Querie Mobile Device */

@media (min-width: 320px) and (max-width: 480px) {

  .heading {
    font-size: 20px;
    margin: 100px;
  }

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .hero {
    height: 100vh;
  }

  .hero-heading {
    font-size: 2.2rem;
  }

  #footer {
    margin-top: 100px;
  }
}

/* Media Querie Tablet Device */

@media (min-width: 481px) and (max-width: 1024px) {

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .heading {
    font-size: 20px;
    margin: 150px;
  }

  #footer {
    margin-top: 100px;
  }
}

/* Media Querie Desktop Device */

@media (min-width: 1024px) and (max-width: 1800px) {

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 3rem;
  }


  .heading {
    margin: 150px;
  }

}

/* Media Querie Large Desktop Device */

@media (min-width: 1280px) {

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 3.5rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }

  .heading {
    margin: 150px;
  }

}