* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}


/* -- Navbar -- */

header {
  background-color: #2e2e2e;
  display: flex;
  /* use flexbox for horizontal layout */
  justify-content: center;
  /* center the items */
  align-items: center;
  /* center the items vertically */
  justify-content: space-between;
  padding: 0 5%;
  /* pushes the items inwards left and right */
}

.logo {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

li,
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
  /* remove bullet points */
}

.nav-links li {
  display: inline-block;
  /* puts the items in a line/row */
  margin: 0 20px;
  /* space between the items */
}

button {
  background-color: #c652e7;
  color: #ffffff;
  padding: 6px 18px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #ffffff;
}

/* --- Hero section -- */
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(48, 59, 75, 0.85), rgba(48, 59, 75, 0.85)), url(./Images/teamwork.jpg);
  height: 50vh;
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  align-items: center;
  justify-content: center;
}

.hero-heading {
  color: #ffffff;
  padding: 15px 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4rem;
  /* Text Shadow Property
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(198, 82, 231); */
}


/* -- Contact Form starts here -- */
.contact-container {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  height: 70vh;
  width: 70vw;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-top: 100px;
}

.map,
.form {
  width: 50%;
  height: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.form {
  background-color: #272850;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px 4%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

.form input {
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 40px;
  background-color: unset;
  color: #ffffff;
}

.form textarea {
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  background-color: unset;
  color: #ffffff;
  height: 6rem;
  resize: none;
}

.form input:not(:first-child),
.form textarea,
.form button {
  margin-top: 0.8rem;
}

.form button {
  margin-top: 30px;
  padding: 14px 24px;
  border-radius: 40px;
  cursor: pointer;
}

/* -- Contact Form ends here -- */


/* -- Footer starts here -- */
#footer {
  background-color: #252525;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin-top: 180px;
}

footer p {
  background-color: #252525;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

/* -- Footer ends here -- */


/* -- Media Queries -- */
@media(max-width: 320px) {

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

}

/* Media Querie Mobile Device */

@media (min-width: 320px) and (max-width: 480px) {

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .hero {
    height: 100vh;
  }

  .hero-heading {
    font-size: 1.8rem;
  }

  #footer {
    margin-top: 100px;
  }
}

/* Media Querie Tablet Device */

@media (min-width: 481px) and (max-width: 1024px) {

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  #footer {
    margin-top: 100px;
  }
}

/* Media Querie Desktop Device */

@media (min-width: 1024px) and (max-width: 1800px) {

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 3rem;
  }
}

/* Media Querie Large Desktop Device */

@media (min-width: 1280px) {

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 3.5rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }
}