* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  ;
}

body {
  background-color: #ffffff;
}


/* This is my header */
header {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 20px;
}

li,
a {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-decoration: none;
}

button {
  background-color: #c652e7;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #ffffff;
}


/* This is my hero section */
.hero {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(rgba(48, 59, 75, 0.85), rgba(48, 59, 75, 0.85)), url(./Images/teamwork.jpg);
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
}


/* This is my contact section */
.contact-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.contact {
  display: flex;
  height: 60vh;
  width: 60vw;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.map,
.form {
  width: 50%;
  height: 100%;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.form {
  background-color: #272850;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 60px 4%;
  font-size: 1rem;
}

.form h2 {
  margin-bottom: 20px;
}

.form input {
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: unset;
  color: #ffffff;
}

.form textarea {
  font-size: 16px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: unset;
  color: #ffffff;
  height: 6rem;
  resize: none;
}

.form input:not(:first-child),
.form textarea,
.form button {
  margin-top: 0.8rem;
}

.form button {
  margin-top: 30px;
  padding: 12px 26px;
  border-radius: 8px;
  cursor: pointer;
}


/* This is my footer section */
#footer {
  background-color: #252525;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

#footer p {
  background-color: #252525;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}


/* Media Querie Mobile Device */
@media (min-width: 320px) and (max-width: 480px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .menu-line {
    width: 1.2rem;
    height: 2px;
    margin-bottom: 0.25rem;
  }

  .hero {
    height: 100vh;
  }

  .hero-heading {
    font-size: 1.4rem;
  }

  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 0.8rem;
  }
}

/* Media Querie Tablet Device */
@media (min-width: 481px) and (max-width: 1024px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .menu-line {
    width: 1.2rem;
    height: 2px;
    margin-bottom: 0.25rem;
  }

  .hero-heading {
    font-size: 1.8rem;
  }

  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 1rem;
    margin: 16px 0;
  }
}

/* Media Querie Desktop Device */
@media (min-width: 1024px) and (max-width: 1800px) {

  li,
  a {
    font-size: 1rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2rem;
  }

  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 1rem;
    margin: 16px 0;
  }
}

/* Media Querie Large Desktop Device */
@media (min-width: 1280px) {

  li,
  a {
    font-size: 1.2rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  #footer {
    margin-top: 150px;
  }

  #footer a,
  #footer p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
}