* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(238, 238, 238)
}


/* -- Navbar starts here -- */
header {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

li,
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  /* puts the items in a line/row */
  margin: 0 20px;
}

button {
  background-color: #c652e7;
  color: #ffffff;
  padding: 6px 18px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #ffffff;
}

/* -- Navbar ends here -- */


/* --- Hero section starts here -- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  min-height: 50vh;
}

.video-bg {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.hero-heading {
  font-family: 'Courier New', Courier, monospace;
  color: #ffffff;
  line-height: 1.5;
}

/* --- Hero section ends here -- */

.sign-in-container {
  background-color: #ffffff;
  width: 30vw;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  overflow: hidden;
  margin: 100px auto;
}

.sign-up {
  padding: 2rem 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input:not([type="checkbox"]){
  width: 100%;
  border: 1px solid lightgrey;
  padding: 0.7rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  }
  
  input::placeholder {
    color: #d2d2d2;
  }


  
  label {
    font-weight: 600;
    color: #252525;
  }  

  .sign-in-extras div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

.sign-in-extras a {
color: #c652e7;
font-size: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.next-page {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

.next-page a {
  color: #c652e7;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.sign-in-extras {
  display: flex;
  justify-content: space-between;
  }

h2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

/* -- Footer -- */
#footer {
  background-color: #252525;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin-top: 180px;
}

footer p {
  background-color: #252525;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

/* -- Media Queries -- */

@media(max-width: 320px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .heading {
    font-size: 18px;
  }

}

/* Media Querie Mobile Device */

@media (min-width: 320px) and (max-width: 480px) {

  .heading {
    font-size: 20px;
    margin: 100px;
  }

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .hero {
    height: 100vh;
  }

  .hero-heading {
    font-size: 2rem;
    margin: 0 6px;
  }
}

#footer {
  margin-top: 100px;
}


/* Media Querie Tablet Device */

@media (min-width: 481px) and (max-width: 1024px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .heading {
    font-size: 20px;
    margin: 150px;
  }

  #footer {
    margin-top: 100px;
  }
}

/* Media Querie Desktop Device */

@media (min-width: 1024px) and (max-width: 1800px) {

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2.8rem;
  }

  .heading {
    margin: 150px;
  }

}

/* Media Querie Large Desktop Device */

@media (min-width: 1280px) {

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2.8rem;
  }

  .heading {
    margin: 150px;
  }

}