* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}


/* -- Navbar -- */

header {
  background-color: #2e2e2e;
  display: flex;
  /* use flexbox for horizontal layout */
  justify-content: center;
  /* center the items */
  align-items: center;
  /* center the items vertically */
  justify-content: space-between;
  padding: 0 5%;
  /* pushes the items inwards left and right */
}

.logo {
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

li,
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: white;
  /* gives the text this color */
  text-decoration: none;
  /* removes the underline */
}

.nav-links {
  list-style: none;
  /* remove bullet points */
}

.nav-links li {
  display: inline-block;
  /* puts the items in a line/row */
  margin: 0 20px;
  /* space between the items */
}

button {
  background-color: rgb(198, 82, 231);
  color: white;
  padding: 6px 18px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #fff;
}


/* --- Hero section -- */

.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(93, 93, 93, 0.3), rgba(93, 93, 93, 0.3)), url(./Images/rounded-lines-edge-background-creative-lines-business-brochure-banner-poster-background_1142-12939.jpg);
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./Images/jason-leung-M55JcA9wOG0-unsplash.jpg); */
  height: 50vh;
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  align-items: center;
  justify-content: center;
}

.text {
  text-align: center;
  color: white;
}

.hero-heading {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4rem;
}


/* -- Page Title (Heading 2) starts here -- */

.heading {
  color: #252525;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  margin: 100px;
}

.highlighted-orange-text {
  color: rgb(234, 174, 20);
}

.highlighted-purple-text {
  color: rgb(152, 65, 214);
}


/* -- User Reviews -- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax (200px, 1fr));
  padding: 0 5%;
  /* 5% padding to make the cards move a bit inwards */
  gap: 20px;
}

article {
  background-color: rgb(196, 136, 232, 100);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.first-review,
.second-review,
.third-review,
.fourth-review,
.fifth-review {
  background-color: hsl(217, 19%, 35%);
  color: #fff;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

h3,
h4,
p {
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

h4 {
  margin-top: 5px;
  opacity: 70%;
}

p {
  margin-top: 20px;
  line-height: 1.5;
}

h4,
p {
  font-size: 1rem;
  font-weight: normal;
}


/* -- Events -- */

.grid-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-rows: repeat(3, 100px);*/
  align-items: center;
  gap: 0.5rem;
  padding: 0 5%;
  /* 5% padding to make the items move a bit inwards */
  margin-top: 60px;
}

.grid {
  height: 200px;
}

.grid-item {
  background-color: pink;
  padding: 20px;
}

.first-grid-item {
  padding: 20px;
  background-color: rgb(234, 114, 206);
  grid-column: span 4;
}

.second-grid-item {
  padding: 20px;
  background-color: rgb(111, 200, 210);
  grid-column: span 1;
}

.third-grid-item {
  padding: 20px;
  background-color: rgb(242, 211, 72);
  grid-column: span 1;
}

.fourth-grid-item {
  padding: 20px;
  background-color: rgb(166, 112, 231);
  grid-column: span 1;
}

.fifth-grid-item {
  padding: 20px;
  background-color: rgb(88, 90, 229);
  grid-column: span 1;
}

img {
  width: 54px;
  height: 54px;
  border: 2px solid rgb(177, 115, 225);
  border-radius: 50%;
}

/* -- Footer -- */

#footer {
  background-color: #252525;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 180px;
}

footer p {
  background-color: #252525;
  color: white;
  font-size: 1rem;
  text-align: center;
}


/* -- Media Queries -- */

@media(max-width: 320px) {
  .grid-parent {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-column: 1;
  }

  .heading {
    font-size: 18px;
  }

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

}


/* Media Querie Mobile Device */

@media (min-width: 320px) and (max-width: 480px) {

  .grid-parent {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-column: 1;
  }

  .heading {
    font-size: 20px;
    margin: 80px;
  }

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .hero-heading {
    font-size: 1.8rem;
  }
}

/* Media Querie Tablet Device */

@media (min-width: 481px) and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .first-grid-item {
    grid-column: 1 / 4;
  }

  .second-grid-item {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .third-grid-item {
    grid-column: 1 / 2;
  }

  .fourth-grid-item {
    grid-column: 2 / 5;
  }

  .fifth-grid-item {
    grid-column: 1 / 5;
  }

  .heading {
    font-size: 20px;
  }

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }
  
}


/* Media Querie Desktop Device */

@media (min-width: 1024px) and (max-width: 1800px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .hamburger-menu {
    display: none;
  }
  
}


/* Media Querie Large Desktop Device */

@media (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 3rem;
  }

  .hero-text {
    font-size: 1.2rem;
  }
}

/*
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
*/