* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  ;
}

body {
  background-color: #ffffff;
}


/* This is my header */
header {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.logo {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-evenly;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin: 0 20px;
}

li,
a {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-decoration: none;
}

button {
  background-color: #c652e7;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #ffffff;
}


/* This is my hero section */
.hero {
  display: flex;
  flex-direction: column;
  height: 50vh;
  background-image: linear-gradient(rgba(48, 59, 75, 0.85), rgba(48, 59, 75, 0.85)), url(./Images/teamwork.jpg);
  background-size: cover;
  background-position: bottom;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
}


/* This is my event section */
.event-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax (200px, 1fr));
  margin: 0 5%;
  gap: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 19%, 35%);
  color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.event-card img {
  width: 100%;
  height: auto;
}

.event-card-content {
  padding: 20px;
}

.event-card-content h3 {
  font-size: 1.2rem;
}

.event-card-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 20px;
}

.event-card-content .btn {
  display: inline-block;
  background-color: #c652e7;
  font-size: 1rem;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 20px 0 10px 0;
}

.event-card:hover {
  transform: translateY(-1px);
  box-shadow: 0px 10px 10px lightgray;
}


/* This is my review section */
.review-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax (200px, 1fr));
  margin: 0 10%;
  gap: 20px;
}

.review-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 19%, 35%);
  color: #ffffff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.review-card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.review-image {
  width: 54px;
  height: 54px;
  border: 2px solid rgb(177, 115, 225);
  border-radius: 50%;
}

.review-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.review-card h4 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 5px;
  opacity: 70%;
}

.review-card p {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 20px;
  line-height: 1.5;
}


/* This is my newsletter section */
.newsletter {
  padding: 100px;
  margin: 100px 10% 100px 10%;
  background-image: linear-gradient(rgba(95, 65, 170, 0.5), rgba(48, 59, 75, 0.5)), url(./Images/Design.webp);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
}

.newsletter h1 {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 0;
}

.newsletter button {
  font-size: 1.2rem;
  cursor: pointer;
}


/* This is my footer section */
#footer {
  background-color: #252525;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

#footer p {
  background-color: #252525;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}


/* -- Media Queries start here -- */
@media(max-width: 320px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }
}


/* Media Querie Mobile Device */

@media (min-width: 320px) and (max-width: 480px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .menu-line {
    width: 1.2rem;
    height: 2px;
    margin-bottom: 0.25rem;
  }

  .hero {
    height: 100vh;
  }

  .hero-heading {
    font-size: 1.4rem;
  }

  .event-container {
    grid-template-columns: 1fr;
    margin-top: 100px;
  }

  .event-card {
    grid-column: 1;
  }

  .event-card h3 {
    font-size: 1.2rem;
  }

  .event-card p {
    font-size: 1rem;
  }


  .review-container {
    margin-top: 100px;
    margin: 100px 5% 0 5%;
  }

  .review-card h3 {
    font-size: 1.2rem;
  }

  .review-card h4 {
    font-size: 1rem;
  }

  .review-card p {
    font-size: 1rem;
  }


  .newsletter {
    margin: 100px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1rem;
    line-height: 1.9;
  }


  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 0.8rem;
  }
}

/* Media Querie Tablet Device */

@media (min-width: 481px) and (max-width: 1024px) {

  .navbar {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .menu-line {
    width: 1.2rem;
    height: 2px;
    margin-bottom: 0.25rem;
  }


  .hero-heading {
    font-size: 1.8rem;
  }


  .event-container {
    margin-top: 100px;
  }

  .event-card h3 {
    font-size: 1.2rem;
  }

  .event-card p {
    font-size: 1rem;
  }

  .event-card:nth-child(1) {
    grid-column: 1 / 3;
  }

  .event-card:nth-child(2) {
    grid-column: 3 / 5;
  }


  .review-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 5% 0 5%;
  }

  .review-card h3 {
    font-size: 1.2rem;
  }

  .review-card h4,
  .review-card p {
    font-size: 1rem;
  }


  .newsletter {
    margin: 100px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1.2rem;
  }


  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 1rem;
    margin: 16px 0;
  }
}


/* Media Querie Desktop Device */

@media (min-width: 1024px) and (max-width: 1800px) {

  li,
  a {
    font-size: 1rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2rem;
  }

  .event-container {
    margin-top: 100px;
  }

  .event-card:nth-child(1) {
    grid-column: 1 / 3;
  }

  .event-card:nth-child(2) {
    grid-column: 3 / 5;
  }

  .event-card h3 {
    font-size: 1.2rem;
  }

  .event-card p {
    font-size: 1rem;
  }


  .review-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 5% 0 5%;
  }

  .review-card h3 {
    font-size: 1.2rem;
  }

  .review-card h4,
  .review-card p {
    font-size: 1rem;
  }


  .newsletter {
    margin: 100px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1.4rem;
  }


  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 1rem;
    margin: 16px 0;
  }
}


/* Media Querie Large Desktop Device */

@media (min-width: 1280px) {

  li,
  a {
    font-size: 1.2rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  .event-container {
    margin-top: 150px;
  }

  .event-card:nth-child(1) {
    grid-column: 1 / 3;
  }

  .event-card:nth-child(2) {
    grid-column: 3 / 5;
  }

  .event-card h3 {
    font-size: 1.4rem;
  }

  .event-card p {
    font-size: 1.2rem;
  }


  .review-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 150px 5% 0 5%;
  }

  .review-card h4,
  .review-card p {
    font-size: 1.2rem;
  }


  .newsletter {
    margin: 150px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1.6rem;
  }


  #footer {
    margin-top: 150px;
  }

  #footer a,
  #footer p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
}