* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}


/* -- Navbar starts here -- */
header {
  background-color: #2e2e2e;
  display: flex;
  /* use flexbox for horizontal layout */
  justify-content: center;
  /* center the items */
  align-items: center;
  /* center the items vertically */
  justify-content: space-between;
  padding: 0 10%;
  /* pushes the items inwards left and right */
}

.logo {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
}

li,
a {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #ffffff;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  /* puts the items in a line/row */
  margin: 0 20px;
}

button {
  background-color: #c652e7;
  color: #ffffff;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 2.3px;
  margin-bottom: 0.3rem;
  background-color: #ffffff;
}

/* -- Navbar ends here -- */


/* --- Hero section starts here -- */
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(48, 59, 75, 0.85), rgba(48, 59, 75, 0.85)), url(./Images/teamwork.jpg);
  height: 50vh;
  background-position: bottom;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  align-items: center;
  justify-content: center;
}

.hero-heading {
  color: #ffffff;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.4rem;
}

/* --- Hero section ends here -- */


/* Events starts here */
.event-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax (200px, 1fr));
  margin: 150px 10% 0 10%;
  gap: 20px;
}

.event-card-header {
  display: grid;
  align-items: center;
  gap: 20px;
}

.first-event,
.second-event {
  background-color: hsl(217, 19%, 35%);
  color: #ffffff;
  padding: 25px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.first-event {
  grid-column: 1 / 3;
}

.second-event {
  grid-column: 3 / 5;
}

.event-image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

/* Events ends here */


/* -- User reviews starts here -- */
.grid-container {
  display: grid;
  grid-template-columns: repeat(autofit, minmax (200px, 1fr));
  margin: 0 10%;
  /* 5% padding to make the cards move a bit inwards */
  gap: 20px;
}

article {
  background-color: rgb(196, 136, 232, 100);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.first-review,
.second-review,
.third-review,
.fourth-review {
  background-color: hsl(217, 19%, 35%);
  color: #ffffff;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

h3,
h4,
p {
  font-family: 'Courier New', Courier, monospace;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

h4 {
  margin-top: 5px;
  opacity: 70%;
}

p {
  margin-top: 20px;
  line-height: 1.5;
}

h4,
p {
  font-size: 1rem;
  font-weight: normal;
}

.review-image {
  width: 54px;
  height: 54px;
  border: 2px solid rgb(177, 115, 225);
  border-radius: 50%;
}

/* -- User reviews ends here -- */


/* -- Newsletter starts here-- */
.newsletter {

  padding: 100px;
  margin: 100px 10% 100px 10%;
  background-image: linear-gradient(rgba(95, 65, 170, 0.5), rgba(48, 59, 75, 0.5)), url(./Images/gradient-abstract-background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
}

.newsletter h1 {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 0;
}

/* -- Newsletter ends here-- */


/* -- Footer starts here -- */
#footer {
  background-color: #252525;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  background-color: #252525;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
}

/* -- Footer ends here -- */


/* -- Media Queries start here -- */
@media(max-width: 320px) {

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .grid-container {
    margin-top: 100px;
  }

  .grid-parent {
    grid-template-columns: 1fr;
  }

  .grid {
    grid-column: 1;
  }
}


/* Media Querie Mobile Device */

@media (min-width: 320px) and (max-width: 480px) {

  header {
    padding: 0 5%;
  }

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .menu-line {
    width: 1.2rem;
    height: 2px;
    margin-bottom: 0.25rem;
  }

  .hero {
    height: 100vh;
  }

  .hero-heading {
    font-size: 1.4rem;
  }

  .event-container {
    grid-template-columns: 1fr;
    margin: 100px 5% 0 5%;
  }

  .first-event,
  .second-event {
    grid-column: 1;
    padding: 20px;
  }

  .event-image {
    height: auto;
  }

  .first-event h3,
  .second-event h3 {
    font-size: 1rem;
  }

  .first-event p,
  .second-event p {
    font-size: 0.8rem;
  }

  .grid-container {
    margin-top: 100px;
    margin: 100px 5% 0 5%;
  }

  .first-review h3,
  .second-review h3,
  .third-review h3,
  .fourth-review h3 {
    font-size: 1rem;
  }

  .first-review h4,
  .second-review h4,
  .third-review h4,
  .fourth-review h4 {
    font-size: 0.8rem;
  }

  .first-review p,
  .second-review p,
  .third-review p,
  .fourth-review p {
    font-size: 0.8rem;
  }

  .newsletter {
    margin: 100px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1rem;
  }

  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 0.8rem;
  }
}

/* Media Querie Tablet Device */

@media (min-width: 481px) and (max-width: 1024px) {
  header {
    padding: 0 5%;
  }

  .navigation {
    display: none;
  }

  button {
    display: none;
  }

  .hamburger-menu {
    margin: 8px;
  }

  .menu-line {
    width: 1.2rem;
    height: 2px;
    margin-bottom: 0.25rem;
  }

  .hero-heading {
    font-size: 1.6rem;
  }

  .event-container {
    margin: 100px 5% 0 5%;
  }

  .event-image {
    height: auto;
  }

  .first-event,
  .second-event {
    padding: 20px;
  }

  .first-event h3,
  .second-event h3 {
    font-size: 1.2rem;
  }

  .first-event p,
  .second-event p {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    margin: 100px 5% 0 5%;
  }

  .first-review h3,
  .second-review h3,
  .third-review h3,
  .fourth-review h3 {
    font-size: 1.2rem;
  }

  .first-review h4,
  .second-review h4,
  .third-review h4,
  .fourth-review h4 {
    font-size: 1rem;
  }

  .first-review p,
  .second-review p,
  .third-review p,
  .fourth-review p {
    font-size: 1rem;
  }

  .newsletter {
    margin: 100px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1.2rem;
  }

  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 1rem;
  }
}


/* Media Querie Desktop Device */

@media (min-width: 1024px) and (max-width: 1800px) {

  li,
  a {
    font-size: 1rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2rem;
  }

  .event-container {
    margin: 100px 5% 0 5%;
  }

  .event-image {
    height: 240px;
  }

  .first-event,
  .second-event {
    padding: 20px;
  }

  .first-event h3,
  .second-event h3 {
    font-size: 1.2rem;
  }

  .first-event p,
  .second-event p {
    font-size: 1rem;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 5% 0 5%;
  }

  .first-review h3,
  .second-review h3,
  .third-review h3,
  .fourth-review h3 {
    font-size: 1.2rem;
  }

  .first-review h4,
  .second-review h4,
  .third-review h4,
  .fourth-review h4 {
    font-size: 1rem;
  }

  .first-review p,
  .second-review p,
  .third-review p,
  .fourth-review p {
    font-size: 1rem;
  }

  .newsletter {
    margin: 100px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1.4rem;
  }

  #footer {
    margin-top: 100px;
  }

  #footer a,
  #footer p {
    font-size: 1rem;
  }
}


/* Media Querie Large Desktop Device */

@media (min-width: 1280px) {
  li,
  a {
    font-size: 1.2rem;
  }

  .hamburger-menu {
    display: none;
  }

  .hero-heading {
    font-size: 2.6rem;
  }

  .event-container {
    margin: 150px 5% 0 5%;
  }

  .event-image {
    height: 320px;
  }

  .first-event h3,
  .second-event h3 {
    font-size: 1.4rem;
  }

  .first-event p,
  .second-event p {
    font-size: 1.2rem;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    margin: 150px 5% 0 5%;
  }

  .first-review h4,
  .second-review h4,
  .third-review h4,
  .fourth-review h4 {
    font-size: 1.2rem;
  }

  .first-review p,
  .second-review p,
  .third-review p,
  .fourth-review p {
    font-size: 1.2rem;
  }

  .newsletter {
    margin: 150px 5% 0 5%;
  }

  .newsletter h1 {
    font-size: 1.6rem;
  }

  #footer {
    margin-top: 150px;
  }

  #footer a,
  #footer p {
    font-size: 1.2rem;
  }
}

/*
@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
*/